.famous-item {
  position: absolute;
  width: 20px;
  cursor: pointer;
}

.famous-pointer {
  height: 20px;
  line-height: 16px;
  width: 20px;
  margin: 0 auto;
  transition: all 0.5s;
}

.famous-pointer_dot {
  box-shadow: 0px 0px 10px 4px #4b4c50;
  line-height: 2px;
  height: 5px;
  display: inline-block;
  width: 5px;
  border-radius: 100%;
  background-color: rgb(222, 226, 240);
}

.famous-item.selected .famous-data {
  box-shadow: 0px 0px 20px 3px #4b4c50;
  border: 1px solid #4a4a4a;
}

.famous-item.selected .famous-pointer {
  height: 100px;
}

.famous-item.selected .famous-data,
.famous-item:hover .famous-data {
  display: block;
  z-index: 99;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.famous-item:hover .famous-pointer {
  height: 100px;
}

.famous-ages.selected {
  position: absolute;
  top: 84%;
  left: 23%;
  width: 55%;
  height: 20px;
}

.famous-item.selected .famous-pointer:after,
.famous-item .famous-pointer:after {
  content: "";
  position: absolute;
  height: 0;
  width: 2px;
  background: #4e4e4e;
  left: 44%;
  top: 12px;
}

.famous-item.selected .famous-pointer:after,
.famous-item:hover .famous-pointer:after {
  height: 100%;
}

.famous-item.selected:hover {
  z-index: 999;
}

.selected .famous-lived {
  background-color: #6b0d0d;
  width: 1290px;
  height: 5px;
  z-index: 0;
  position: absolute;
  left: 12px;
  top: 7px;
}

.famous-data {
  display: none;
  background-color: rgb(33, 31, 44);
  border: 1px solid #4e4e4e;
  padding: 5px;
  border-radius: 10px;
  min-width: 150px;
}

.famous-name {
  font-weight: bold;
}

.famous-desc {
  font-size: 12px;
  font-style: italic;
}
.famous-tooltip {
  position: relative;
  width: 100%;
}
.famous-tooltip span {
  position: absolute;
}
